@charset "UTF-8";


#source {display: none;}
[for="source"] {
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  background: #f7f7f7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4) inset, 0 1px 1px 0 rgba(255, 255, 255, .1);
  text-shadow: 0 1px rgba(0, 0, 0, .5);
  cursor: pointer;
}
[for="source"]:before, [for="source"]:after {
  display: inline-block;
  padding: 5px 20px;
}
[for="source"]:before {
  content: "Стекло";
  width: 90px;
  border-radius: 100px 0 0 100px;
  background: white;
  color: rgba(0,0,0,.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .4);
}
[for="source"]:after {
  content: "Автоподатчик";
  width: 90px;
  border-radius: 0 100px 100px 0;
  background: #ffd500;
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.2), 0 1px 2px 0 rgba(0,0,0,.5);
}
#source:checked ~ [for="source"]:after {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .4);
  color: rgba(0,0,0,.4);
}
#source:checked ~ [for="source"]:before {
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.2), 0 1px 2px 0 rgba(0,0,0,.5);
  background: #ffd500;
  color: inherit;
}


#type {display: none;}
[for="type"] {
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  background: #f7f7f7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4) inset, 0 1px 1px 0 rgba(255, 255, 255, .1);
  text-shadow: 0 1px rgba(0, 0, 0, .5);
  cursor: pointer;
}
[for="type"]:before, [for="type"]:after {
  display: inline-block;
  padding: 5px 20px;
}
[for="type"]:before {
  content: "JPG";
  width: 90px;
  border-radius: 100px 0 0 100px;
  background: white;
  color: rgba(0,0,0,.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .4);
}
[for="type"]:after {
  content: "PDF";
  width: 90px;
  border-radius: 0 100px 100px 0;
  background: #ffd500;
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.2), 0 1px 2px 0 rgba(0,0,0,.5);
}
#type:checked ~ [for="type"]:after {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .4);
  color: rgba(0,0,0,.4);
}
#type:checked ~ [for="type"]:before {
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.2), 0 1px 2px 0 rgba(0,0,0,.5);
  background: #ffd500;
  color: inherit;
}

#mode {display: none;}
[for="mode"] {
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4) inset, 0 1px 1px 0 rgba(255, 255, 255, .1);
  text-shadow: 0 1px rgba(0, 0, 0, .5);
  cursor: pointer;
}
[for="mode"]:before, [for="mode"]:after {
  display: inline-block;
  padding: 5px 20px;
}
[for="mode"]:before {
  content: "Цветной";
  width: 90px;
  border-radius: 100px 0 0 100px;
  background: white;
  color: rgba(0,0,0,.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .4);
}
[for="mode"]:after {
	content: "Серый";
  width: 90px;
  border-radius: 0 100px 100px 0;
  background: #ffd500;
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.2), 0 1px 2px 0 rgba(0,0,0,.5);
}
#mode:checked ~ [for="mode"]:after {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 rgba(255, 255, 255, .4);
  color: rgba(0,0,0,.4);
}
#mode:checked ~ [for="mode"]:before {
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.2), 0 1px 2px 0 rgba(0,0,0,.5);
  background: #ffd500;
  color: inherit;
}

